
header{

	width: 60%;
	height: 200px;
	margin-top: 40px;
	margin: auto;
	text-align: center;
	border: #000000 solid 4px;

}
.navbar {
  width: 56%;
  overflow: auto;
  margin: auto;

}

.navbar a {
  float: left;
  padding: 1px;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
	color: #DFDEDE;
}

.active {

}
.row{
	padding-top: 345px;
}
.row .col-6 img{
	margin: 4px;
}
.copy{
	padding-top: 30px;
	width: 100%;
	margin-left: 38%;
	font-weight: bold;

}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  
}
